@import "reset.css";
.icon {
    width: 1em; 
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 24px;
 }

a {
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.2px;
    cursor: pointer;
}

:root {
    --app-dark:#1a1d28;
    --app-red:#ff3c57;
    --app-green:#53d47a;
    --app-blue:#53add4;
    --app-purple:#7a53d4;
    --app-orange:#d47a53;
}

body {
    background-color: #101219;
}



.head {
    height: 60px;
    width: min(100% - 30px, 1080px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    margin-top: 20px;
}

.head .title {
    overflow: hidden;
}

.title .title-2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.title-2 h1 {
    font-size: 40px;
    font-family: 'Rubik Glitch', cursive;
    color: #fff;
    margin-left: 20px;
    line-height: 80px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.title-2 h1:hover {
    background-image: -webkit-linear-gradient(135deg,#1de5e2,#b588f7);
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent; 
    cursor: pointer;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .bars {
    display: none;
    width: 23px;
    height: 28px;
    font-size: 26px;
    overflow: hidden;
}

nav .bars:hover {
    cursor: pointer;
    overflow: visible;
}

.bars .menu {
    width: 80px;
    height: 120px;
    font-size: 16px;
    border: 1px solid #fff;
    transform: translate(-23px,-8px);
}

.bars i {
    color: #fff;
}

.menu div {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.menu div:hover {
    background-color: #748189;
}

.menu .about {
    border-top:1px solid #fff ;
    border-bottom:1px solid #fff ;
}

.menu div a {
    color: #fff;
}

.menu div a:hover {
    color: #fff;
}

.head nav {
    margin-right: 20px;
}

nav ul {
    display: flex;
    padding: 0;
}

nav ul li {
    width: 145px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 15px;
}

nav ul li a {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li .fa-solid {
    margin-bottom: 10px;
    font-size: 24px;
    width: 25px;
    height: 25px;
    color: #fff;
    transform: translateX(30px);
    transition: 0.4s ease;
}

li .link-text {
    color: #fff;
    font-size: 24px;
    margin-left: 7px;
    position: relative;
    z-index: 1;
    user-select: none;
    opacity: 0;
    transition: 0.3s ease;
}

li a.active {
    color: #fff;
}

li a.active .fa-solid {
    background-image:-webkit-linear-gradient(135deg,#1de5e2,#b588f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(0);
} 



li a.active .link-text {
    opacity: 1;
    transition-delay: 0.1s;
    background-image: -webkit-linear-gradient(135deg,#1de5e2,#b588f7);
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent; 
    transform: translateX(0);
}

section {
    width: 100%;
    height: 100%;
}

.container {
    width: min(100% - 30px, 1280px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.container .banner {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .time {
    width: 70%;
    height: 30%;
    position: relative;
    top: -20px;
}

.time span {
    width: 100%;
    height: 100%;
    font-size: 95px;
    font-weight: 600;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    display: flex;
    justify-content: center;
    width: 50%;
}

.active .icon {
    transform: translateX(30px);
    transition: 0.8s ease;
}

.active .alarm-time {
    margin-left: 5px;
    font-size: 16px;
    color: #fff;
    position: relative;
    visibility: hidden;
    z-index: 1;
    transition: 0.8s ease;
    user-select: none;
}

div.active .icon {
    transform: translateX(0);
} 

div.active .alarm-time {
    font-weight: 600;
    font-size: 18px;
    transition-delay: 0.2s;
    transform: translateX(0);
    background-image: -webkit-linear-gradient(135deg,#1de5e2,#b588f7);
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent; 
}



.setting {
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.set-time {
    position: relative;
    color: #fff;
    font-size: 30px;
    width: 131px;
    height: 40px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgb(0 0 0 / 10%) 0px 26px 30px -10px, rgb(0 0 0 / 10%) 0px 16px 10px -10px;
}

.set-time .hour {
    position: relative;
    width: 55px;
    height: 40px;
    margin-right: 2px;
    top: -7px;
    color: #fff;
    text-align: right;
    font-size: 20px;
    border-radius: 18px 0 0 18px;
    background-color: transparent;
}
.set-time .minute {
    position: relative;
    margin-left: 2px;
    width: 55px;
    height: 40px;
    top: -7px;
    color: #fff;
    font-size: 20px;
    border-radius: 0 18px 18px 0;
    background-color: transparent;
    
}

.set-time span {
    position: relative;
    top: -6px;
}

.set-time input::-webkit-outer-spin-button,
.set-time input::-webkit-inner-spin-button {
        -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}

.setting .set-alarm {
    width: 120px;
    height: 40px;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 18px;
}

.set-alarm button {
    width: 120px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    border-radius: 18px;
    background-color: #7a53d4;
}

.tips {
    width: 270px;
    height: 52px;
    color: #fff;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgb(0 0 0 / 10%) 0px 26px 30px -10px, rgb(0 0 0 / 10%) 0px 16px 10px -10px;
}



